body{
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 14px;
}
div,ul,li{
    box-sizing: border-box;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.photo-lattice{
    width: 251px;
    height: 251px;
    margin: 20px 10px;
    padding: 1px !important;
    box-shadow: 1px 1px 20px #cccccc
}
.photo-puzzle{
    width: 251px;
    min-height: 251px;
    margin: 20px 10px;
    box-shadow: 1px 1px 20px #8b8989;
    padding: 1px !important;
    overflow: auto;
}
.photo-lattice li,.photo-puzzle li{
    list-style:none;
    display: inline-block;
}

/* 宫格式布局样式 */
.photo-lattice li:only-child img{
    /* 1个 */
    max-width:164px;
    height:164px;
}

.photo-lattice li:first-child:nth-last-child(4) img,
.photo-lattice li:first-child:nth-last-child(4) ~ li img{
    /* 4个 */
    width: 80px;
    height: 80px;
}
.photo-lattice li:first-child:nth-last-child(2) img,
.photo-lattice li:first-child:nth-last-child(3) img,
.photo-lattice li:first-child:nth-last-child(5) img,
.photo-lattice li:first-child:nth-last-child(6) img,
.photo-lattice li:first-child:nth-last-child(7) img,
.photo-lattice li:first-child:nth-last-child(8) img,
.photo-lattice li:first-child:nth-last-child(9) img,
.photo-lattice li:first-child:nth-last-child(2) +li img,
.photo-lattice li:first-child:nth-last-child(3) ~ li img,
.photo-lattice li:first-child:nth-last-child(5) ~ li img,
.photo-lattice li:first-child:nth-last-child(6) ~ li img,
.photo-lattice li:first-child:nth-last-child(7) ~ li img,
.photo-lattice li:first-child:nth-last-child(8) ~ li img,
.photo-lattice li:first-child:nth-last-child(9) ~ li img {
    /* 3,5,6,7,8,9 */
    width: 80px;
    height: 80px;
}

/* 拼图式布局样式 */

/* 一张 */
.photo-puzzle>ul>li:only-child img{
    width: 100%;
    max-height: 250px;
}

/* 两张 */
.photo-puzzle>ul>li:first-child:nth-last-child(2) img,
.photo-puzzle>ul>li:first-child:nth-last-child(2) +li img{
    width: 248px;
    height: 186px;
}

/* 三张 */
.photo-puzzle>ul>li:first-child:nth-last-child(3) img{
    width: 248px;
    height: 186px;
}
.photo-puzzle>ul>li:first-child:nth-last-child(3) ~li img{
    width: 122px;
    height: 122px;
}

/* 四张 */
.photo-puzzle>ul>li:first-child:nth-last-child(4) img{
    width: 248px;
    height: 186px;
}
.photo-puzzle>ul>li:first-child:nth-last-child(4) ~li img{
    width: 80px;
    height: 80px;
}

/* 五张 */

.photo-puzzle>ul>li:first-child:nth-last-child(5),
.photo-puzzle>ul>li:first-child:nth-last-child(5) ~ li{
    float: left;
}
.photo-puzzle>ul>li:first-child:nth-last-child(5) img{
    width: 164px;
    height: 164px;
}
.photo-puzzle>ul>li:first-child:nth-last-child(5) ~li:nth-of-type(2) img{
    margin-left: 4px;
    width: 80px;
    height: 80px;
    top: 0;
}
.photo-puzzle>ul>li:first-child:nth-last-child(5) ~li:nth-of-type(3) img{
    margin-left: 4px;
    width: 80px;
    height: 80px;
}
.photo-puzzle>ul>li:first-child:nth-last-child(5) ~li:nth-of-type(4) img{
    width: 122px;
    height: 122px;
}
.photo-puzzle>ul>li:first-child:nth-last-child(5) ~li:nth-of-type(5) img{
    margin-left: 4px;
    width: 122px;
    height: 122px;
}

/* 六张 */
.photo-puzzle>ul>li:first-child:nth-last-child(6),
.photo-puzzle>ul>li:first-child:nth-last-child(6) ~ li{
    float: left;
}
.photo-puzzle>ul>li:first-child:nth-last-child(6) img{
    width: 164px;
    height: 164px;
}
.photo-puzzle>ul>li:first-child:nth-last-child(6) ~ li:nth-of-type(4) img{
    margin-left: 0px !important;
}
.photo-puzzle>ul>li:first-child:nth-last-child(6) ~ li img{
    margin-left: 4px;
    width: 80px;
    height: 80px;
}
/* 七张 */
.photo-puzzle>ul>li:first-child:nth-last-child(7) img{
    width: 248px;
    height: 248px;
}
.photo-puzzle>ul>li:first-child:nth-last-child(7) ~ li img{
    width: 80px;
    height: 80px;
}

/* 八张 */
.photo-puzzle>ul>li:first-child:nth-last-child(8) img,
.photo-puzzle>ul>li:first-child:nth-last-child(8) ~ li:nth-of-type(2) img
{
    width: 122px;
    height: 122px;
}
.photo-puzzle>ul>li:first-child:nth-last-child(8) ~ li:nth-of-type(3) img,
.photo-puzzle>ul>li:first-child:nth-last-child(8) ~ li:nth-of-type(4) img,
.photo-puzzle>ul>li:first-child:nth-last-child(8) ~ li:nth-of-type(5) img,
.photo-puzzle>ul>li:first-child:nth-last-child(8) ~ li:nth-of-type(6) img,
.photo-puzzle>ul>li:first-child:nth-last-child(8) ~ li:nth-of-type(7) img,
.photo-puzzle>ul>li:first-child:nth-last-child(8) ~ li:nth-of-type(8) img{
    width: 80px;
    height: 80px;
}
/* 七张 */
.photo-puzzle>ul>li:first-child:nth-last-child(9) img{
    width: 248px;
    height: 248px;
}
.photo-puzzle>ul>li:first-child:nth-last-child(9) ~ li img{
    width: 59px;
    height: 59px;
}
